:root{
    --primary-color: rgba(13, 110, 139, 0.75); /* last value makes it transparent*/
    --overlay-color:    rgba(147, 90, 221, 0.808);
    --menu-speed: 4s;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    height: 100vh;
    background-color: rgb(58, 5, 12);
}
.dropdown{
    height: 10vh;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    text-decoration: none;
}
.projects ul, .products ul{
    position: absolute;
    background-color: blueviolet;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0; 
    pointer-events: none;
    transition: all 0.4s ease;
    text-decoration: none;
}
.dropdown button{
    background: none;
    border: none;
    text-decoration-line: none;
}
.dropdown button, .home{
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}
.dropdown button:hover, .home:hover{
    background-color: lightslategray;
    text-decoration: none;
}
.projects button:focus + ul, 
.products button:focus + ul{
    opacity: 1;
    pointer-events: all;
}
.products li:hover, 
.projects li:hover{
    background-color: mediumaquamarine;
}
.products li, 
.projects li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer{
    height: 13vh;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
}

